::-moz-selection {
    /* Code for Firefox. */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

img::-moz-selection {
    /* Code for Firefox. */
    background: transparent;
}

img::selection {
    background: transparent;
}